mimmitkoodaa_visualRecognition_flow.txt
[{"id":"fcee95ca.28f158","type":"debug","z":"bf5627fd.3a6da","name":"","active":true,"console":"false","complete":"payload","x":770,"y":300,"wires":[]},{"id":"3e4d660d.250712","type":"inject","z":"bf5627fd.3a6da","name":"","topic":"","payload":"https://www.ksml.fi/incoming/rjpxa9-2636728_.jpg/ALTERNATES/FREE_1140/2636728_.jpg","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":150,"y":300,"wires":[["56c78748.467588"]]},{"id":"56c78748.467588","type":"visual-recognition-v3","z":"bf5627fd.3a6da","name":"Gender and Age","apikey":"bbdf52eb3395f9481cc4748584c37c86c2044378","image-feature":"detectFaces","lang":"en","x":380,"y":300,"wires":[["a9495874.2c9a58"]]},{"id":"a9495874.2c9a58","type":"function","z":"bf5627fd.3a6da","name":"Parse output","func":"\nmsg.payload=\"Watson sees a person: \\n \";\n\nmsg.payload += \" Age between \" + msg.result.images[0].faces[0].age.max + \" and \" + msg.result.images[0].faces[0].age.min + \"\\nGender is \" + msg.result.images[0].faces[0].gender.gender;\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":300,"wires":[["fcee95ca.28f158"]]},{"id":"4f0ced27.412a64","type":"comment","z":"bf5627fd.3a6da","name":"Visual Recognition Age and Gender detection","info":"","x":256.5,"y":232,"wires":[]}]