mimmitkoodaa_UI_flow.txt
[{"id":"204bcd1f.676f82","type":"ui_form","z":"bf5627fd.3a6da","name":"","label":"","group":"6953d497.2dd18c","order":2,"width":0,"height":0,"options":[{"label":"URL","value":"url","type":"text","required":true},{"label":"Classifier","value":"classifier","type":"text","required":true}],"formValue":{"url":"","classifier":""},"payload":"","topic":"","x":71,"y":194,"wires":[["81f88e29.b64ca","1d588ca8.5e8a3b"]]},{"id":"d3c7ab70.a30518","type":"function","z":"bf5627fd.3a6da","name":"default","func":"msg.payload = msg.payload.url;\nreturn msg;","outputs":1,"noerr":0,"x":417,"y":163,"wires":[["8697cbc3.04358"]]},{"id":"81f88e29.b64ca","type":"switch","z":"bf5627fd.3a6da","name":"Classifier ID","property":"payload.classifier","propertyType":"msg","rules":[{"t":"cont","v":"default","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":251,"y":194,"wires":[["d3c7ab70.a30518"],["f9f0740e.fb7888"]]},{"id":"f9f0740e.fb7888","type":"function","z":"bf5627fd.3a6da","name":"custom","func":"msg.params = []; \nmsg.params[\"classifier_ids\"] = \"YOUR_OWN_CLASSIFIER\"; \nmsg.params[\"owners\"] = \"me\"; \nmsg.payload = msg.payload.url;\n\nreturn msg;","outputs":1,"noerr":0,"x":422,"y":219,"wires":[["7d7720c3.8c53d"]]},{"id":"8697cbc3.04358","type":"visual-recognition-v3","z":"bf5627fd.3a6da","name":"","apikey":"bbdf52eb3395f9481cc4748584c37c86c2044378","image-feature":"classifyImage","lang":"en","x":630,"y":163,"wires":[["2f254b9f.bae91c"]]},{"id":"95cc046f.d9d3c8","type":"function","z":"bf5627fd.3a6da","name":"Match parse","func":"msg.payload=\"Watson says that is a/an: \\n \";\n\n    for (var i=0; i < msg.result.images[0].classifiers[0].classes.length; i++) {\n    msg.payload += msg.result.images[0].classifiers[0].name + \" with a score of \" + msg.result.images[0].classifiers[0].classes[i].score + \"\\n\";\n    }\nreturn msg;","outputs":1,"noerr":0,"x":692,"y":292,"wires":[["130e7a3c.1a7976","7c23369.6386ac8"]]},{"id":"2f76268a.c049ea","type":"switch","z":"bf5627fd.3a6da","name":"Match or no match?","property":"result.images[0].classifiers[0]","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"false","outputs":2,"x":440,"y":317,"wires":[["95cc046f.d9d3c8"],["e0b32364.901cf"]]},{"id":"e0b32364.901cf","type":"function","z":"bf5627fd.3a6da","name":"No match","func":"msg.payload = \"Watson found no match using your custom classifier. Try again with another picture.\";\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":438,"wires":[["a743f2ae.08c61","28b2cce.e701934"]]},{"id":"2b07e9ad.cdf676","type":"comment","z":"bf5627fd.3a6da","name":"UI ","info":"","x":71,"y":134,"wires":[]},{"id":"1d588ca8.5e8a3b","type":"ui_template","z":"bf5627fd.3a6da","group":"8deb3aac.4be02","name":"Display image","order":0,"width":"6","height":"5","format":"<img width=\"32\" height=\"32\" alt=\"image\" src=\"{{msg.payload.url}}\"/>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":101,"y":250,"wires":[[]]},{"id":"7c23369.6386ac8","type":"function","z":"bf5627fd.3a6da","name":"Score","func":"msg.payload = msg.result.images[0].classifiers[0].classes[0].score*100;\nreturn msg;","outputs":1,"noerr":0,"x":693,"y":342,"wires":[["b9539367.1a2568"]]},{"id":"a743f2ae.08c61","type":"function","z":"bf5627fd.3a6da","name":"Score","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":693,"y":382,"wires":[["b9539367.1a2568"]]},{"id":"7d7720c3.8c53d","type":"visual-recognition-v3","z":"bf5627fd.3a6da","name":"","apikey":"bbdf52eb3395f9481cc4748584c37c86c2044378","image-feature":"classifyImage","lang":"en","x":618,"y":219,"wires":[["2f76268a.c049ea"]]},{"id":"2f254b9f.bae91c","type":"function","z":"bf5627fd.3a6da","name":"default parse","func":"msg.payload=\"Watson says that is a/an: \\n \";\n\n    for (var i=0; i < msg.result.images[0].classifiers[0].classes.length; i++) {\n    msg.payload += msg.result.images[0].classifiers[0].classes[i].class + \" with a score of \" + msg.result.images[0].classifiers[0].classes[i].score + \"\\n\";\n    }\nreturn msg;","outputs":1,"noerr":0,"x":873,"y":162,"wires":[["11e39554.80d433","130e7a3c.1a7976"]]},{"id":"11e39554.80d433","type":"function","z":"bf5627fd.3a6da","name":"Score","func":"msg.payload = msg.result.images[0].classifiers[0].classes[0].score*100;\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":162,"wires":[["b9539367.1a2568"]]},{"id":"b9539367.1a2568","type":"ui_gauge","z":"bf5627fd.3a6da","name":"","group":"5fac380f.a443f8","order":0,"width":0,"height":0,"gtype":"gage","title":"1st match score","label":"units","format":"{{value | number:2}}%","min":0,"max":"100","colors":["#00B500","#E6E600","#CA3838"],"seg1":"","seg2":"","x":1143,"y":355,"wires":[]},{"id":"130e7a3c.1a7976","type":"ui_text","z":"bf5627fd.3a6da","group":"5fac380f.a443f8","order":0,"width":"6","height":"4","name":"","label":"Watson output","format":"{{msg.payload}}","layout":"col-center","x":970,"y":234,"wires":[]},{"id":"8438ec5a.b8ae3","type":"ui_template","z":"bf5627fd.3a6da","group":"6953d497.2dd18c","name":"Mimmitkoodaa","order":1,"width":"3","height":"3","format":"<img src=\"https://ohjelmistoyrittajat.fi/wp-content/uploads/2018/02/mimmitkoodaa-logo-300x300.png\"/>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":102,"y":357,"wires":[[]]},{"id":"54255583.36e17c","type":"comment","z":"bf5627fd.3a6da","name":"Logo","info":"","x":72,"y":308,"wires":[]},{"id":"28b2cce.e701934","type":"link out","z":"bf5627fd.3a6da","name":"No Match out","links":["ea3286c8.f7b96"],"x":814.5,"y":439,"wires":[]},{"id":"ea3286c8.f7b96","type":"link in","z":"bf5627fd.3a6da","name":"No Match in","links":["28b2cce.e701934"],"x":797.5,"y":234,"wires":[["130e7a3c.1a7976"]]},{"id":"6953d497.2dd18c","type":"ui_group","z":"","name":"Test your app","tab":"742a4137.98ff48","order":1,"disp":true,"width":"6","collapse":false},{"id":"8deb3aac.4be02","type":"ui_group","z":"","name":"Image","tab":"742a4137.98ff48","order":2,"disp":true,"width":"6","collapse":false},{"id":"5fac380f.a443f8","type":"ui_group","z":"","name":"Results","tab":"742a4137.98ff48","order":3,"disp":true,"width":"6","collapse":false},{"id":"742a4137.98ff48","type":"ui_tab","z":"","name":"Mimitkoodaa","icon":"dashboard"}]