mimmitkoodaa_customClassifier_flow.txt
[{"id":"dc46dfb8.7a0f5","type":"switch","z":"c01913eb.8bc84","name":"","property":"result.images[0].classifiers[0]","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":659.5,"y":154,"wires":[["c6d69908.dc7238"],["12d030ad.dcdac7"]]},{"id":"2f235aa6.e1a186","type":"visual-recognition-v3","z":"c01913eb.8bc84","name":"","apikey":"bbdf52eb3395f9481cc4748584c37c86c2044378","image-feature":"classifyImage","lang":"en","x":419.5,"y":154,"wires":[["d42f681c.170a4","dc46dfb8.7a0f5"]]},{"id":"7b61583c.589b","type":"debug","z":"c01913eb.8bc84","name":"","active":true,"console":"false","complete":"payload","x":1019.5,"y":134,"wires":[]},{"id":"ff3e2015.dae8d","type":"inject","z":"c01913eb.8bc84","name":"Positive","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":79.5,"y":94,"wires":[["6282e18b.b8dad8"]]},{"id":"6282e18b.b8dad8","type":"function","z":"c01913eb.8bc84","name":"Define the classifier ID","func":" msg.params = []; \n msg.params[\"classifier_ids\"] = \"YOUR_CLASSIFIER_ID\"; \n msg.params[\"owners\"] = \"me\"; \n\nreturn msg;","outputs":1,"noerr":0,"x":309.5,"y":94,"wires":[["2f235aa6.e1a186"]]},{"id":"51b054ba.9b1b64","type":"comment","z":"c01913eb.8bc84","name":"Test your own classifier","info":"","x":105,"y":38,"wires":[]},{"id":"c6d69908.dc7238","type":"function","z":"c01913eb.8bc84","name":"Found a match","func":"\nmsg.payload=\"Watson using your customized classifier sees: \\n \";\n\nmsg.payload +=  msg.result.images[0].classifiers[0].classes[0].class + \" with a score of \" + msg.result.images[0].classifiers[0].classes[0].score + \"\\n\" ;\n\nreturn msg;","outputs":1,"noerr":0,"x":829.5,"y":94,"wires":[["7b61583c.589b"]]},{"id":"1582501f.6e0fd","type":"inject","z":"c01913eb.8bc84","name":"Negative","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":84.5,"y":145,"wires":[["6282e18b.b8dad8"]]},{"id":"d42f681c.170a4","type":"debug","z":"c01913eb.8bc84","name":"","active":true,"console":"false","complete":"result","x":479.5,"y":214,"wires":[]},{"id":"12d030ad.dcdac7","type":"function","z":"c01913eb.8bc84","name":"No match","func":"\nmsg.payload=\"Watson didn't find a match for your classifier.\";\n\nreturn msg;","outputs":1,"noerr":0,"x":829.5,"y":174,"wires":[["7b61583c.589b"]]}]